.chat-title {
  width: 100%;
  text-align: center;
  margin-top: 60px;
}

.display-chat-block {
  margin-top: 60px;
  position: relative;
  width: 800px;
  border: 1px solid #cc7351;
  border-radius: 20px;
  left: 50%;
  margin-left: -400px;
  height: 500px;
  overflow-y: auto;
}

.chat-block:last-child {
  margin-bottom: 20px;
}

.chat-block {
  width: 700px;
  position: relative;
  left: 50%;
  margin: 0;
  margin-top: 2px;
  margin-left: -350px;
  /* border: 1px solid; */
  padding: 10px;
  line-height: 0.6;
  padding-bottom: 0;
}

.chat-time {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  color: #a6a9b6;
  position: absolute;
}

.chat-content {
  background-color: #e6e6e6;
  padding: 10px;
  border-radius: 20px;
}

.chat-input-block {
  width: 700px;
  position: relative;
  margin-top: 30px;
  margin-left: -350px;
  left: 50%;
}

.input-text {
  background-color: #bce6eb;
  resize: none;
  border-radius: 20px;
  overflow: hidden;
  height: 60px;
  min-height: 60px;
}

#send-btn {
  border-radius: 20px;
  width: 100px;
  position: relative;
  margin-top:30px;
  margin-left:-50px;
  left: 50%;
}
