* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: #fcf8ec;
}

hr {
  width: 1000px;
  position: relative;
  left: 50%;
  margin-left: -500px;
  margin-top:10px;
}

.error-block {
  width: 800px;
  position: relative;
  left: 50%;
  margin-left: -400px;
  margin-top:100px;
  text-align: center;
}

.error-block h1 {
  font-size: 8rem;
  margin: 30px;
  font-family: 'Nerko One', cursive;
  color: #f85f73;
}

.error-block h2 {
  font-size: 4rem;
  font-family: 'Nerko One', cursive;
  color: #f85f73;
  margin: 30px;
}

.header {
  height: 60px;
  width: 100%;
  background-color: #08d9d6;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
